body {
    margin: 0;
    height: 100vh;
    display: flex;
    align-items: center; 
    justify-content: center;
    background-color: #655e5e;
}


.grid {
    background-color: rgb(1, 1, 1);
    background-image: url('images/background.png');
    background-size: 400px 600px;
    position: relative;
    width: 400px;
    height: 600px;
    color: rgb(0, 0, 0);
    font-size: 40px;
    text-align: center;
}


.doddleJump {
    background-image: url('images/doodler-guy.png');
    background-size: 60px 40px;
    width: 60px;
    height: 40px;
    position: absolute;
}

.doddleJumpLeft {
    
    transform: scaleX(-1);

}


.platforms {
    background-image: url('images/platform.png');
    background-size: 60px 15px;
    position: absolute;
    width: 60px;
    height: 15px;
}